# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Table of Data Science tools
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy
4. Seaborn
5. TensorFlow
6. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| RStudio |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# Addition
result_addition = 5 + 3
print("Addition:", result_addition)

# Subtraction
result_subtraction = 10 - 4
print("Subtraction:", result_subtraction)

# Multiplication
result_multiplication = 6 * 7
print("Multiplication:", result_multiplication)

# Division
result_division = 15 / 3
print("Division:", result_division)

Addition: 8
Subtraction: 6
Multiplication: 42
Division: 5.0

In [5]:
# This a simple arithmetic expression to mutiply then add integers
result_mult_add = (3*4)+5
print("Division:", result_mult_add)

Division: 17

In [7]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60

## Author
Stefan